<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h4>Edit listing</h4>
    <br>
    <h1>Edit</h1>
    <br>
    <p>Don't forget to save when you're done.</p><br>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST">
        <label for="cars">Choose a car:</label>
            <select id="model" name="model">
                <% for(let model of models) {%>
                    <option value="<%=model%>" <%= listing.model === model ? "selected": ""%>><%=model%></option>
                <% } %>  
            </select>
        <br>
        <label for="year">Year: </label>
            <select id="year" name="year">
                <% for(let year of years) {%>
                    <option value="<%=year%>" <%= listing.year === year ? "selected": ""%>><%=year%></option>
                <% } %>  
            </select>
        <br>
        <label for="city">City: </label>
        <input id="city" type="text" placeholder="Enter your city" name="city" value="<%= listing.city %>">
        <br>
        <label for="description">Description: </label><br>
        <textarea name="description" id="description" cols="30" rows="10"><%=listing.description%></textarea>
        <br>
        <label for="van_img">Upload a picture: </label>
        <input id="van_img" type="file" name="van_img">
        <br>
        <div id="pricing">
            <h3>Pricing</h3>
            <label for="van_price">Base price: $</label>
            <input type="number" id="van_price" name="van_price" value="<%=listing.van_price%>" min="10" max="100"><br>
        </div>
        <br>
        <button>Save</button>
    </form>
<a href="/">Cancel</a>
</body>
</html>