<body>
    <h4>Listings</h4>
    <br>

    <% if(listings.listings.length < 1) { %>
        <h1>You have no listing</h1>
        <p>You have a van? Start renting it!</p>
        <a href="/listings/new">Create a listing</a>
    <% } else { %>
        <h2>My listings</h2>

    <% listings.listings.forEach((listings) => {  %> 
        <h3><%= listings.model.charAt(0).toUpperCase() + listings.model.slice(1) %> <%= listings.year %></h3>
        <p><b><%= listings.city %></b></p>
        <p><%= listings.description %></p>
        <p><b><%= listings.van_price %>€/day</b></p>
        <a href="/listings/<%= listings._id %>/edit">Edit</a>
        <form action="/listings/<%= listings._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>

        <br>
    <% }) %> 

<a href="/listings/new">New listing</a>
    <% } %> 

    <a href="/">Bring me Home</a>
</body>
