<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.model%></title>
</head>
<body>
    <h1>Model: <%= listing.model %></h1>
    <p>City: <%= listing.city %></p>
    <p>Year: <%= listing.year %></p>
    <p>Description: <%= listing.description %></p>
    <p>Price: <%= listing.van_price %>€/day</p>
    <a href="/listings/<%= listing._id %>/edit">Edit</a>
    <a href="/listings">All listings</a>
    <a href="/">Bring me Home</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
    </form>
</body>
</html>