<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <script src="/static/scripts/welcome.js"></script>
</head>
<body>
  
<div id="navbar-and-search">
  <header>
    <%- include('./partials/header'); %>
  </header>

<div class="container" id="search_van">
  <form class="container" action="/search" method="GET">
    <div>
      <label for="city">Location: </label>
      <input id="city" type="text" name="city" placeholder="London">
    </div>
    <div id="search_start">
      <label for="start_date">Pick up: </label>
      <input id="start_date" type="date" name="start_date">
        <!-- <label for="start_time"></label>
        <input id="start_time" type="time" name="start_time"> -->
    </div>
    <div id="search_end">
      <label for="end_date">Drop off: </label>
      <input id="end_date" type="date" name="end_date">
        <!-- <label for="end_time"></label>
        <input id="end_time" type="time" name="end_time"> -->
    </div>
    <div>
      <button>Search</button>
    </div>
  </form>
</div>
</div>

<h3>Vans nearby</h3>
<div id="random-Listings" class="container">
  <% listings.forEach((listings) => {  %> 
    <div class="some-listing">
      <img class="listing-img" src="https://www.findlight.net/front-media/products/images/listing-thumb/__findlight_noimage.jpg" alt="">
      <h3><%= listings.model.charAt(0).toUpperCase() + listings.model.slice(1) %> <%= listings.year %></h3>
      <p><b><%= listings.city %></b></p>
      <p><%= listings.description %></p>
      <p><b><%= listings.van_price %>€/day</b></p>
      <a href="/listings/<%= listings._id %>">More</a>
      <br>
    </div>
  <% }) %> 
</div>
<%- include('./partials/footer'); %>
</body>
</html>