<html>
  <h3>Homepage</h3>
  
  <% if (req.user) {%>
    <h1> Welcome <%= user.name %></h1>
    <% if (!user.profile) { %>
        <a href="/profiles/new">Create a profile</a>
        <a href="/listings/new">Rent your van</a>
    <% } else {%>
        <a href="/listings/new">Rent your van</a>
        <a href="/account/">Account</a>
    <%  } %> 
    
    <a href="/users/logout">Logout</a>
  <% } else { %> 
    <h1>Homepage</h1>
  
  <a href="/listings/new">Rent your van</a>
  <a href="/users/register" class="btn btn-primary btn-block mb-2"
    >Sign up</a>
  <a href="/users/login"> Login</a>
  <br>
  <% } %> 

<p>Here the user can search for vans, even if not logged in.</p>

<div id="search_van">
  <form action="/search" method="POST">
    <div>
      <label for="city">Location: </label>
      <input id="city" type="text" name="city" placeholder="London">
    </div>
    <div id="search_period">
      <div id="search_start">
        <label for="start_date"></label>
        <input id="start_date" type="date" name="start_date">
        <label for="start_time"></label>
        <input id="start_time" type="time" name="start_time">
      </div>
      <div id="search_end">
        <label for="end_date"></label>
        <input id="end_date" type="date" name="end_date">
        <label for="end_time"></label>
        <input id="end_time" type="time" name="end_time">
      </div>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</div>


<% listings.forEach((listings) => {  %> 
  <div>
    <h3><%= listings.model.charAt(0).toUpperCase() + listings.model.slice(1) %> <%= listings.year %></h3>
    <p><b><%= listings.city %></b></p>
    <p><%= listings.description %></p>
    <p><b><%= listings.van_price %>€/day</b></p>
    <a href="/listings/<%= listings._id %>">More</a>
    <br>
  </div>
  
<% }) %> 
</html>