<body>
    <h4>Trips</h4>
    <br>

    <% if(trips.trips.length < 1) { %>
        <h1>You have no trip</h1>
        <p>Plan your first trip!</p>
        <a href="/trips/new">Book a van</a>
    <% } else { %>
        <h2>Vantastic, your van is waiting for you!</h2>

    <% trips.trips.forEach((trips) => {  %> 
        <h3><%= trips.listing %></h3>
        <p><b><%= trips.city %></b></p>
        <p><%= trips.start_date %> - <%= trips.end_date %></p>
        <p><b><%= trips.price %>€/day</b></p>
        <a href="/trips/<%= trips._id %>/edit">Edit</a>
        <a href="/trips/<%= trips._id %>">More</a>
        <form action="/trips/<%= trips._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <br>
    <% }) %> 

<a href="/trips/new">New trip</a>
    <% } %> 

    <a href="/">Bring me Home</a>
</body>
